* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; }
.barra{
    background-color: rgb(226, 230, 240);

 }
 .barra__entreCasa{
    width: 10rem;
    margin-left: 2rem;
 }
.barra__link{
    color: black;
 }
.barra__item{
    color: black;
    margin: 1.7rem;
 }
.barra__navBar{
    padding-left: 18rem;
 }
.direccion{
    background-color:rgb(226, 230, 240) ;
 }
.direccion__parrafo{
    color: black;
    margin-top: 2rem;
 }
.direccion__socialMedia{
    display: flex;
   align-items: center;
   justify-content: center;
  }
.direccion__instagram {
    width: 2.1rem;
        }
        
.direccion__facebook {
   width: 1.7rem;
   margin-right: 2rem;
        }
.receta{
   margin-top: 3rem;
   display: flex;
   flex-direction: column;
   height: 65rem;
}
.receta__titulo{
   color: black;
   text-decoration: underline;color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}
.receta__subtitulo{
   margin-top: 2rem;
   padding-left: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
.receta__recetas{
   color: black;
    text-decoration: underline;color: black;
    margin-top: 10rem;
    padding-left: 3rem;
}
.receta__ingredientes{
   color: black;
   padding-left: 3rem;
   padding-bottom: 8rem;
}
.receta__pasoApaso{
   color: black;
   padding-left: 3rem;
   padding-bottom: 2rem;
}
.receta__imagen{
   width: 42rem;
   border:solid ; color:rgb(144, 158, 194);
   border-width: 6;
   position: absolute;
   left: 25rem;
   top: 25rem;
   
}