.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    &__content {
        background-color: rgb(226, 230, 240);
        margin: auto;
        padding: 20px;
        border: 2px solid #7c58a3;
        width: 80%;
      }
      &__titulo{
        margin-left: 2rem;
        color: black;
        text-decoration: underline;color: black;
        display: flex;
        justify-content: space-between;
      }
      &__imagen{
        width: 35rem;
        margin-left: 15rem;
      }
      &__contenido{
        color: black;
        padding-left: 4rem;
      }
      &__contenido1{
        color: black;
        margin: 2rem;
      }
      &__contenido2{
        color: black;
        margin-left: 2rem;
        text-decoration: underline;color: black;
      }
  }