.receta{
    &__titulo{
        color: black;
        text-decoration: underline;color: black;
        display: flex;
        justify-content: space-between;
     }
     &__contenido{
        color: black;
     }
     &__imagen{
        height: 20rem;
     }
     &__boton{
      background-color: rgb(108, 119, 147);
      border:rgb(108, 119, 147) ;
      display: flex;
      margin: 1rem 4rem;
   }
}

